<h1> New User Page </h1>
<h2> Please fill out the following information</h2>
<hr>
<%=form_for User.new do |f| %>
    <%=f.label :Name%>
    <%=f.text_field :name%>
    <br><br>
    <%=f.submit "Create Profile"%>
<%end%>

